#banner-section.product-banner {
  background-image: url(../images/products/banner-bg.jpg);
}
#main-products {
  .products-items {
    .product-item {
      display: flex;
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0;
      }
      @include tab-max {
        flex-wrap: wrap;
      }
      .pi-img {
        flex: 0 0 320px;
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;
        background-color: #fff;
        display: flex;
        align-items: center;
        @include tab-max {
          padding-top: 15px;
          padding-bottom: 15px;
          padding-left: 0;
          padding-right: 0;
          margin-left: auto;
          margin-right: auto;
          flex: 0 0 100%;
          justify-content: center;
        }
        img {
        }
      }
      .product-item-content {
        padding: 20px 25px;
        position: relative;
        align-self: center;
        &::after {
          position: absolute;
          content: " ";
          border: 17px solid transparent;
          border-right-color: #f1f0ee;
          top: 50%;
          left: 0;
          transform: translateX(-100%);
          @include tab-max {
            top: -34px;
            border-color: transparent;
            border-bottom-color: #f1f0ee;
            left: 50%;
            transform: translateX(-50%);
          }
        }
        h3 {
          font-size: 22px;
          color: #1c1c1b;
        }
        p {
        }
        a {
          &:last-child {
            font-family: $secondary-font;
            color: $green;
            text-transform: uppercase;
            background-color: #fff;
            font-size: 18px;
            padding: 9px 26px;
            padding-top: 10px;
            border-radius: 5px;
            margin-top: 15px;
            &:hover {
              background-color: #dce7da;
            }
          }
        }
      }
      &:nth-child(odd) {
        background-color: #f7f7f7;
        .pi-img {
          border: 1px solid #f7f7f7;
        }
        .product-item-content {
          &::after {
            border-right-color: #f7f7f7;
            @include tab-max {
              border-right-color: transparent;
              border-bottom-color: #f7f7f7;
            }
          }
        }
      }
      &:nth-child(even) {
        background-color: #f1f0ee;
        .pi-img {
          border: 1px solid #f1f0ee;
        }
      }
    }
  }
}
.common-products {
  padding-top: 0;
  .container {
    > h1 {
      font-size: 38px;
      color: #1c1c1b;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 50px;
      @include mobile-max {
        font-size: 30px;
      }
    }
  }
  .common-items {
    .single-product {
      @include md-min {
      min-height: 350px;
      }
    }
  }
}
